.age-range-slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  input[type="range"] {
    width: 80%;
    margin: 10px 0;
  }
  
  input[type="range"]::-webkit-slider-runnable-track {
    background: linear-gradient(
      to right,
      #660303bf 0%,
      #660303bf ${(props) => (props.value / props.max) * 100}%,
      #d3d3d3 ${(props) => (props.value / props.max) * 100}%,
      #d3d3d3 100%
    );
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #660303bf;
    border-radius: 50%;
  }
  
  input[type="range"]:focus {
    outline: none;
  }
  
  input[type="range"]:focus::-webkit-slider-runnable-track {
    background: linear-gradient(
      to right,
      #660303bf 0%,
      #660303bf ${(props) => (props.value / props.max) * 100}%,
      #d3d3d3 ${(props) => (props.value / props.max) * 100}%,
      #d3d3d3 100%
    );
  }
  